<%- include('layout/header', {title: '用户中心'}) -%>
<link rel="stylesheet" href="/stylesheets/tab.css">

<div class="tab">
    <input type="radio" id="tab-account" name="tab-control" checked>
    <input type="radio" id="tab-subscribe" name="tab-control">
    <input type="radio" id="tab-link" name="tab-control">
    <ul>
        <li><label for="tab-account" role="button"><span>服务器管理</span></label></li>
        <li><label for="tab-subscribe" role="button"><span>订阅管理</span></label></li>
        <li><label for="tab-link" role="button"><span>链接管理</span></label></li>
    </ul>
    <div class="slider">
        <div class="indicator"></div>
    </div>
    <div class="content">
        <section>
            <div class="container is-fluid">
                <div class="columns">
                    <div class="column is-half">
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>选项</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="javascript:;" class="dropdown-item enable">添加vmess服务器</a>
                                    <a href="javascript:;" class="dropdown-item enable">添加ssr服务器</a>
                                    <a href="javascript:;" class="dropdown-item enable">添加ss服务器</a>
                                    <hr class="dropdown-divider">
                                    <a href="javascript:;" class="dropdown-item delete-selector"
                                        data-type="account">删除所选服务器</a>
                                </div>
                            </div>
                        </div>
                        <a class="button is-warning generate" data-type="normal">生成默认订阅链接</a>
                        <a class="button is-warning generate" data-type="shadowrocket">生成Shadowrocket订阅链接</a>
                        <a class="button is-danger clear-account" data-type="account">清空</a>
                    </div>
                    <div class="column is-half">
                        <div class="field has-addons has-addons-right">
                            <div class="control">
                                <input class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <a href="javascript:;" class="button is-info find" data-type="account">查找</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-hoverable accounts">
                    <thead>
                        <tr>
                            <th class="has-text-center" width="38px">
                                <label>
                                    <input class="choose" type="checkbox" data-type="account">
                                </label>
                            </th>
                            <th class="has-text-left" width="240px">别名</th>
                            <th class="has-text-left" width="90px">服务类型</th>
                            <th class="has-text-left" width="280px">地址</th>
                            <th class="has-text-left" width="90px">端口</th>
                            <th class="has-text-left" width="180px">加密方式</th>
                            <th class="has-text-left" width="90px">协议</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let account of accounts) {%>
                        <tr class="account">
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox">
                                    <input type="hidden" class="account-id" value="<%= account.id %>">
                                </label>
                            </td>
                            <td class="remarks" title="<%= account.remarks %>">
                                <a href="javascript:;"><%= account.remarks %></a>
                            </td>
                            <td class="service-type"><%= account.serviceType %></td>
                            <td class="host"><%= account.host %></td>
                            <td class="port"><%= account.port %></td>
                            <td class="method"><%= account.method %></td>
                            <td class="protocol"><%= account.protocol %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="container is-fluid">
                <div class="columns">
                    <div class="column is-half">
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>选项</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="javascript:;" class="dropdown-item delete-selector"
                                        data-type="subscribe">删除所选订阅</a>
                                </div>
                            </div>
                        </div>
                        <a class="button is-warning import-subscribe">添加订阅</a>
                        <a class="button is-primary update-subscribe">更新订阅</a>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-hoverable subscribes">
                    <thead>
                        <tr>
                            <th class="has-text-center" width="38px">
                                <label>
                                    <input class="choose" type="checkbox" data-type="subscribe">
                                </label>
                            </th>
                            <th class="has-text-left">订阅服务名</th>
                            <th class="has-text-left">URL</th>
                            <th class="has-text-right">禁用/使用</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let subscribe of subscribes) { %>
                        <tr class="subscribe">
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox">
                                    <input type="hidden" class="subscribe-id" value="<%= subscribe.id %>">
                                </label>
                            </td>
                            <td class="remarks"><%= subscribe.remarks %></td>
                            <td class="url"><%= subscribe.url %></td>
                            <td class="has-text-right is-enable">
                                <label class="switch">
                                    <input type="checkbox" <%= subscribe.isEnable ? 'checked' : '' %>>
                                    <div class="round" data-type="subscribe"></div>
                                </label>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="container is-fluid">
                <div class="columns">
                    <div class="column is-half">
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>选项</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="javascript:;" class="dropdown-item delete-selector"
                                        data-type="link">删除所选链接</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-hoverable links">
                    <thead>
                        <tr>
                            <th class="has-text-center" width="38px">
                                <label>
                                    <input class="choose" type="checkbox" data-type="link">
                                </label>
                            </th>
                            <th class="has-text-left" width="380rem">订阅ID</th>
                            <th class="has-text-left" width="120rem">服务器ID</th>
                            <th class="has-text-left" width="120rem">包含的URL</th>
                            <th class="has-text-right" width="100rem">禁用/使用</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let link of links) { %>
                        <tr class="link">
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox">
                                    <input type="hidden" class="link-id" value="<%= link.id %>">
                                </label>
                            </td>
                            <td class="linkId">
                                <a href="javascript:;"><%= link.linkId %></a>
                            </td>
                            <td class="ids">
                                <% for(let id of link.sourceID) {  %>
                                <span class="id"><%= id %></span>
                                <% } %>
                            </td>
                            <td class="urls">
                                <% for(let url of link.sourceURL) {  %>
                                <a class="url" href="javascript:;"><%= url %></a>
                                <% } %>
                            </td>
                            <td class="has-text-right is-enable">
                                <label class="switch">
                                    <input type="checkbox" <%= link.isEnable ? 'checked' : '' %>>
                                    <div class="round" data-type="link"></div>
                                </label>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<script src="/scripts/event.js"></script>
<%- include('layout/footer') -%>