<%- include('layout/header', {title: '用户中心'}) -%>
<link rel="stylesheet" href="/stylesheets/tab.css">

<div class="tab">
    <input type="radio" id="tab-link" name="tab-control" checked>
    <input type="radio" id="tab-share" name="tab-control">
    <ul>
        <li><label for="tab-link" role="button"><span>服务器管理</span></label></li>
        <li><label for="tab-share" role="button"><span>订阅管理</span></label></li>
    </ul>
    <div class="slider">
        <div class="indicator"></div>
    </div>
    <div class="content">
        <section>
            <div class="container is-fluid">
                <div class="columns">
                    <div class="column is-half">
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>选项</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item import-subscribe">导入订阅地址</a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">添加vmess链接</a>
                                    <a href="#" class="dropdown-item">添加ssr链接</a>
                                    <a href="#" class="dropdown-item">添加ss链接</a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item delete-server account">删除所选服务器</a>
                                </div>
                            </div>
                        </div>
                        <a class="button is-warning generate">生成订阅链接</a>
                    </div>
                    <div class="column is-half">
                        <div class="field has-addons has-addons-right">
                            <div class="control">
                                <input class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <a class="button is-info">查找</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-hoverable">
                    <thead>
                        <tr>
                            <th class="has-text-left choose" width="38px">
                                <label class="checkbox">
                                    <input class="account" type="checkbox">
                                </label>
                            </th>
                            <th class="has-text-left" width="200px">别名</th>
                            <th class="has-text-left" width="90px">服务类型</th>
                            <th class="has-text-left" width="200px">地址</th>
                            <th class="has-text-left" width="90px">端口</th>
                            <th class="has-text-left" width="90px">加密方式</th>
                            <th class="has-text-left" width="90px">协议</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let account of accounts) {%>
                        <tr class="account" data-target="modal-ter" aria-haspopup="true">
                            <td class="choose-item" data-type="account">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <input type="hidden" class="link-id" value="<%= JSON.parse(account.source).objectId %>">
                                </label>
                            </td>
                            <td class="remarks" title="<%= account.remarks %>">
                                <a href="javascript:;"><%= account.remarks %></a>
                            </td>
                            <td class="service-type" title="<%= account.serviceType %>"><%= account.serviceType %>
                            </td>
                            <td class="host" title="<%= account.host %>"><%= account.host %></td>
                            <td class="port" title="<%= account.port %>"><%= account.port %></td>
                            <td class="encrypt" title="<%= account.encrypt %>"><%= account.encrypt %></td>
                            <td class="protocol" title="<%= account.protocol %>"><%= account.protocol %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="table-container">
                <table class="table is-hoverable">
                    <thead>
                        <tr>
                            <th class="has-text-left choose" width="38px">
                                <label class="checkbox">
                                    <input class="subscribe" type="checkbox">
                                </label>
                            </th>
                            <th class="has-text-left" width="182px">订阅ID</th>
                            <th class="has-text-left" width="215px">服务器ID</th>
                            <th class="has-text-left" width="">包含的URL</th>
                            <th class="has-text-left" width="90px">禁用/使用</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let link of links) { %>
                        <tr class="subscribe" data-target="modal-ter" aria-haspopup="true">
                            <td class="choose-item" data-type="subscribe">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox">
                                    <input type="hidden" class="link-id" value="<%= link.linkId %>">
                                </label>
                            </td>
                            <td title="点击复制">
                                <a href="javascript:;"><%= link.linkId %></a>
                            </td>
                            <td class="ids">
                                <% for(let id of link.sourceID) {  %>
                                <span class="id" title="<%= id %>"><%= id %></span>
                                <% } %>
                            </td>
                            <td class="urls">
                                <% for(let url of link.sourceURL) {  %>
                                <a class="url" href="javascript:;" title="点击复制"><%= url %></a>
                                <% } %>
                            </td>
                            <td class="is-disable">
                                <label class="switch">
                                    <input type="checkbox" <%= !link.isDisable ? 'checked' : '' %>>
                                    <div class="round"></div>
                                </label>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<script src="/scripts/event.js"></script>
<%- include('layout/footer') -%>